.booking-detail-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  .booking-body {
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 2rem;
    width: 100%;
    & > .ant-space-item {
      &:first-child {
        width: 100%;
        padding-right: 2rem;
      }
    }
    .booking-detail-wrapper {
      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;
      padding: 1.5rem;
      .ant-space {
        width: 100%;
      }
      .booking-header {
        display: flex;
        align-items: center;
        & > span {
          font-size: 1.5rem;
          margin-right: 1rem;
        }
      }
      h5 {
        overflow: hidden;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
        font-size: 18px;
        line-height: 1.5715;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 20px;
      }
      .person-information {
      }
    }
    .ant-affix {
      width: auto !important;
      transition: width 0.5s ease;
      min-width: 350px;
    }
    .selected-packages {
      border: 1px solid rgb(221, 221, 221);
      background: #fff;
      border-radius: 12px;
      padding: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
      min-width: 414px;
      overflow: hidden;
      .package-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 -1.5rem 1.5rem;
        padding: 0 1.5rem 1.5rem;
        border-bottom: 1px solid rgb(221, 221, 221);
        * {
          margin: 0;
          line-height: normal;
        }
      }
      button {
        font-weight: 500;
        border: none;
        line-height: 20px;
        padding: 0.825rem;
        height: auto;
        border-radius: 8px;
        background: rgb(82, 196, 26);
        color: #fff;
      }
      h3 {
        text-align: center;
        margin: 0;
        color: #01579b;
      }
    }
  }
}

.ant-form-item-explain {
  margin-bottom: 0.5rem;
}

.identities-modal {
  .identity-info {
    h5 {
      margin: 0;
    }
  }
}