.box_style_3 {
  .btn_full_outline {
    width: 100%;
  }
}

.img_list {
  top: 10px;
  left: 10px;
}
.tour_list_desc {
  padding: 10px 20px 0 0;
  min-height: 240px;
  height: auto;
  p {
    -webkit-line-clamp: unset;
  }
  a {
    display: block;
  }
}