@import 'packages/bootstrap.min.css';
@import 'packages/fonts.scss';
@import 'packages/style.scss';
@import 'packages/vendors.scss';
@import 'packages/color_green.scss';
@import 'packages/timeline.scss';
@import 'packages/responsive.scss';

header {
  box-shadow: 0 2px 4px 0 rgba(27, 27, 27, 0.2);
}

.nowrap {
  white-space: nowrap;
}

.preloader {
  width: 100%;
  text-align: center;
  padding: 30px;
}