/*Typography and buttons*/

h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #2ecc71;
}

a.button_intro, .button_intro {
  background: #2ecc71;
}

a.button_intro:hover, .button_intro:hover {
  color: #2ecc71 !important;
}

a.button_intro:hover, .button_intro:hover {
  color: #2ecc71;
}

a.button_drop, .button_drop {
  color: #2ecc71 !important;
}

a.button_drop.outilne, .button_drop.outline {
  color: #2ecc71;
}

a.btn_1, .btn_1 {
  background: #2ecc71;
}

a.btn_1.white, .btn_1.white {
  color: #2ecc71;
}

a.btn_1.outline:hover, .btn_1.outiline:hover, input .btn_1.outiline:hover {
  background: #2ecc71;
  border: 2px solid #2ecc71;
}

a.btn_1:hover, .btn_1:hover {
  background: #333;
}

a {
  &.btn_map {
    background: #2ecc71;
  }

  color: #2ecc71;
}

#search .btn_1.green {
  background: #2ecc71;
}

a.box_news:hover h4 {
  color: #2ecc71;
}

.owl-theme .owl-dots .owl-dot {
  &.active span, &:hover span {
    border: 2px solid #2ecc71;
  }

  span::before {
    background-color: #2ecc71 !important;
  }
}

#search_2 .nav-tabs > li > a {
  &.active, &:hover .active, &:focus .active {
    background-color: #2ecc71;
  }
}

.custom-search-input-2 input[type='submit'] {
  background-color: #2ecc71;
}

/* Header */

header#colored.sticky {
  background-color: #2ecc71;
  border-bottom: 2px solid #2ecc71;
}

.dropdown-cart .dropdown-menu {
  border-top: 2px solid #2ecc71;

  &:before {
    border-bottom-color: #2ecc71;
  }
}

ul {
  &#cart_items li strong > a:hover {
    color: #2ecc71;
  }

  &#top_links a, &#top_tools a {
    color: #fff;

    &:hover {
      color: #2ecc71;
    }
  }
}

.dropdown-mini .dropdown-menu {
  border-top: 2px solid #2ecc71;

  &:before {
    border-bottom-color: #2ecc71;
  }

  ul#lang_menu li a {
    color: #555 !important;

    &:hover {
      color: #2ecc71 !important;
    }
  }
}

a.cart_bt strong {
  background-color: #2ecc71;
}

/* Content and common */

#search .nav-tabs > li.active > a {
  background-color: #2ecc71;

  &:hover, &:focus {
    background-color: #2ecc71;
  }
}

.cbp_tmtimeline {
  &:before {
    background: #2ecc71 !important;
  }

  > li .cbp_tmicon {
    color: #2ecc71 !important;
    box-shadow: 0 0 0 3px #2ecc71 !important;
  }
}

.input-group button {
  &:hover, &:focus {
    background-color: #2ecc71;
    border-color: #2ecc71;
  }
}

.other_tours ul li a:hover {
  color: #2ecc71;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  background: #2ecc71;
}

.form_title h3 strong, .features-content {
  background-color: #2ecc71;
}

#Img_carousel .sp-selected-thumbnail {
  border-bottom: 2px solid #2ecc71;
}

#directions {
  background-color: #2ecc71;
}

ul {
  &.list_ok li:before {
    color: #2ecc71;
  }

  &.list_order li span {
    background-color: #2ecc71;
  }
}

.tooltip-back {
  background: #2ecc71;
}

.tooltip-content-flip {
  .tooltip-front::after, .tooltip-back::after {
    border-top: 10px solid #2ecc71;
  }
}

.banner {
  h4 {
    color: #2ecc71;
  }

  &.colored {
    background: #2ecc71 url(../../img/packages/banner_bg_colored.png) no-repeat center bottom;
  }
}

/* Menu */
/*First level styles */

.main-menu {
  > ul > li:hover > a {
    color: #2ecc71;
  }

  ul {
    ul {
      &:before {
        border-bottom-color: #2ecc71;
      }

      border-top: 2px solid #2ecc71;
    }

    .menu-wrapper {
      border-top: 2px solid #2ecc71;
    }

    ul li:hover > a {
      color: #2ecc71;
    }
  }
}

/* Submenu */

.search-overlay-menu {
  .search-overlay-close:hover, form button:hover {
    color: #2ecc71;
  }
}

@media only screen and (max-width: 991px) {
  /* Menu */

  .main-menu ul li a:hover {
    color: #2ecc71 !important;
  }

  a {
    &.show-submenu {
      &:hover, &:focus {
        color: #2ecc71 !important;
      }
    }

    &.show-submenu-mega {
      &:hover, &:focus {
        color: #2ecc71 !important;
      }
    }
  }

  .main-menu ul {
    ul, .menu-wrapper {
      border-top: none;
    }
  }
}

@media only screen and (min-width: 992px) {
  .main-menu ul {
    ul, li .menu-wrapper {
      border-top: 2px solid #2ecc71;
    }
  }
}

/*-------- Date dropper/Time dropper --------*/

div.datedropper.primary {
  &:before, .pick-submit, .pick-lg-b .pick-sl:before, .pick-m, .pick-lg-h {
    background-color: #2ecc71 !important;
  }

  .pick-y.pick-jump, .pick li span, .pick-lg-b .pick-wke, .pick-btn {
    color: #2ecc71;
  }
}

#td-clock-0 {
  .td-clock .td-time span.on {
    color: #2ecc71 !important;
  }

  .td-lancette {
    color: #2ecc71 !important;
    border: 2px solid #2ecc71 !important;
  }

  .td-clock {
    box-shadow: 0 0 0 1px #2ecc71, 0 0 0 8px rgba(0, 0, 0, 0.05) !important;

    &:before {
      border-color: #2ecc71 !important;
    }
  }
}

.td-select svg {
  stroke: #2ecc71 !important;
}

#td-clock-0 {
  .td-lancette div:after {
    background: #2ecc71 !important;
  }

  .td-select:after {
    box-shadow: 0 0 0 1px #2ecc71 !important;
  }
}

/*-------- Map --------*/

.btn_infobox_get_directions {
  color: #2ecc71;
}

a {
  &.btn_infobox_phone {
    color: #2ecc71;
  }

  &.btn_infobox {
    background-color: #2ecc71;
  }
}

.btn_infobox {
  background-color: #2ecc71;
}

.view_on_map:before {
  color: #2ecc71;
}

#map_filter ul li a {
  &:hover, &.active {
    color: #2ecc71;
  }
}

/*-------- Shop --------*/

.shop-item .image-box .item-options .btn_shop:hover {
  background: #2ecc71 !important;
}

.prod-tabs .tab-btns .tab-btn.active-btn {
  color: #2ecc71 !important;
}

.btn_cart_outine:hover {
  background: #2ecc71;
  border: 2px solid #2ecc71;
}

.card-header a .indicator {
  color: #2ecc71;
}