@font-face {
  font-family: 'fontello';
  src: url('../../fonts/fontello.eot');
  src: url('../../fonts/fontello.eot') format('embedded-opentype'),
       url('../../fonts/fontello.woff') format('woff'),
       url('../../fonts/fontello.ttf') format('truetype'),
       url('../../fonts/fontello.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ElegantIcons';
  src: url('../../fonts/ElegantIcons.eot');
  src: url('../../fonts/ElegantIcons.eot') format('embedded-opentype'),
       url('../../fonts/ElegantIcons.woff') format('woff'),
       url('../../fonts/ElegantIcons.ttf') format('truetype'),
       url('../../fonts/ElegantIcons.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icon_set_1';
  src: url('../../fonts/icon_set_1.eot');
  src: url('../../fonts/icon_set_1.eot') format('embedded-opentype'),
       url('../../fonts/icon_set_1.woff') format('woff'),
       url('../../fonts/icon_set_1.ttf') format('truetype'),
       url('../../fonts/icon_set_1.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'icon_set_2';
//   src: url('../../fonts/icon_set_2.eot');
//   src: url('../../fonts/icon_set_2.eot') format('embedded-opentype'),
//        url('../../fonts/icon_set_2.woff') format('woff'),
//        url('../../fonts/icon_set_2.ttf') format('truetype'),
//        url('../../fonts/icon_set_2.svg') format('svg');
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: 'Glyphter';
  src: url('../../fonts/Glyphter.eot');
  src: url('../../fonts/Glyphter.eot') format('embedded-opentype'),
       url('../../fonts/Glyphter.woff') format('woff'),
       url('../../fonts/Glyphter.ttf') format('truetype'),
       url('../../fonts/Glyphter.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: url('../../fonts/Pe-icon-7-stroke.eot');
  src: url('../../fonts/Pe-icon-7-stroke.eot') format('embedded-opentype'),
       url('../../fonts/Pe-icon-7-stroke.woff') format('woff'),
       url('../../fonts/Pe-icon-7-stroke.ttf') format('truetype'),
       url('../../fonts/Pe-icon-7-stroke.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'datedropper';
  src: url('../../fonts/datedropper.eot');
  src: url('../../fonts/datedropper.eot') format('embedded-opentype'),
       url('../../fonts/datedropper.woff') format('woff'),
       url('../../fonts/datedropper.ttf') format('truetype'),
       url('../../fonts/datedropper.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
