/*mixin*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

@mixin transform($value) {
  transform: ($value);
  -webkit-transform: ($value);
  -moz-transform: ($value);
  -o-transform: ($value);
  -ms-transform: ($value);
}
@mixin transition($value) {
  transition: $value;
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin flex-grow($values) {
  -webkit-flex-grow: $values;
  -moz-flex-grow: $values;
  -ms-flex-grow: $values;
  flex-grow: $values;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}
@mixin align-content($align) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}
@mixin align-self($align) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -o-animation: $value;
  animation: $value;
}
// Keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
@mixin placeholder-color($value) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $value;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $value;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $value;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $value;
  }
}

@mixin placeholder-family($value) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-family: $value;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    font-family: $value;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    font-family: $value;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    font-family: $value;
  }
}
@mixin placeholder-size($value) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: $value;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    font-size: $value;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    font-size: $value;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    font-size: $value;
  }
}
@mixin filter($value) {
  -webkit-filter: blur($value);
  -moz-filter: blur($value);
  -o-filter: blur($value);
  -ms-filter: blur($value);
  filter: blur($value);
}

@mixin gradiant-two-colors-top-bottom($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, $color1),
    color-stop(100%, $color2)
  );
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
  background: -o-linear-gradient(top, $color1 0%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=0 );
}

@mixin gradiant-two-colors-left-right($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(left, $color1 0%, $color2 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, $color1),
    color-stop(100%, $color2)
  );
  background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
  background: -o-linear-gradient(left, $color1 0%, $color2 100%);
  background: -ms-linear-gradient(left, $color1 0%, $color2 100%);
  background: linear-gradient(to right, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=1 );
}

@mixin gradiant-three-colors-left-right($color1, $color2, $color3) {
  background: $color1;
  background: -moz-linear-gradient(left, $color1 0%, $color2 51%, $color3 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, $color1),
    color-stop(51%, $color2),
    color-stop(100%, $color3)
  );
  background: -webkit-linear-gradient(
    left,
    $color1 0%,
    $color2 51%,
    $color3 100%
  );
  background: -o-linear-gradient(left, $color1 0%, $color2 51%, $color3 100%);
  background: -ms-linear-gradient(left, $color1 0%, $color2 51%, $color3 100%);
  background: linear-gradient(to right, $color1 0%, $color2 51%, $color3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color3', GradientType=1 );
}

@mixin gradiant-two-colors-top-bottom($color1, $color2) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, $color1),
    color-stop(100%, $color2)
  );
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
  background: -o-linear-gradient(top, $color1 0%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color2', endColorstr='$color2', GradientType=0 );
}

@mixin text-cliping($color1, $color2) {
  background: -webkit-linear-gradient(left, $color1 0%, $color2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-cliping-three($color1, $color2, $color3) {
  background: -webkit-linear-gradient(
    left,
    $color1 0%,
    $color2 51%,
    $color3 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
