@font-face {
  font-family: 'fontello';
  src: font-url('fontello.eot');
  src: font-url('fontello.eot') format('embedded-opentype'),
       font-url('fontello.woff') format('woff'),
       font-url('fontello.ttf') format('truetype'),
       font-url('fontello.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ElegantIcons';
  src: font-url('ElegantIcons.eot');
  src: font-url('ElegantIcons.eot') format('embedded-opentype'),
       font-url('ElegantIcons.woff') format('woff'),
       font-url('ElegantIcons.ttf') format('truetype'),
       font-url('ElegantIcons.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icon_set_1';
  src: font-url('icon_set_1.eot');
  src: font-url('icon_set_1.eot') format('embedded-opentype'),
       font-url('icon_set_1.woff') format('woff'),
       font-url('icon_set_1.ttf') format('truetype'),
       font-url('icon_set_1.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'icon_set_2';
  src: font-url('icon_set_2.eot');
  src: font-url('icon_set_2.eot') format('embedded-opentype'),
       font-url('icon_set_2.woff') format('woff'),
       font-url('icon_set_2.ttf') format('truetype'),
       font-url('icon_set_2.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphter';
  src: font-url('Glyphter.eot');
  src: font-url('Glyphter.eot') format('embedded-opentype'),
       font-url('Glyphter.woff') format('woff'),
       font-url('Glyphter.ttf') format('truetype'),
       font-url('Glyphter.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: font-url('Pe-icon-7-stroke.eot');
  src: font-url('Pe-icon-7-stroke.eot') format('embedded-opentype'),
       font-url('Pe-icon-7-stroke.woff') format('woff'),
       font-url('Pe-icon-7-stroke.ttf') format('truetype'),
       font-url('Pe-icon-7-stroke.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'datedropper';
  src: font-url('datedropper.eot');
  src: font-url('datedropper.eot') format('embedded-opentype'),
       font-url('datedropper.woff') format('woff'),
       font-url('datedropper.ttf') format('truetype'),
       font-url('datedropper.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
